.navList {
    @apply z-10 absolute left-5 top-2/4 bg-[#242424c9] flex flex-col px-2 py-2 rounded-lg overflow-hidden;
    
    
    >button {
        @apply relative left-3/4;
        transition: all .3s ease;

        >svg {
            margin-bottom: 0.25rem;
        }
    }

    >button.btnActive {
        transform: translateX(1px);


    }

    >button.btnDefault {
        @apply static;
        transform: translateX(0);
    }

    >ul>li {
        transition: color .3s ease;

        &:hover {
            color: #fce3c2;
        }

        >a {
            @apply flex justify-start items-center;
        }
    }

    ul>li:not(:last-child) {
        @apply pb-1;
    }

    >svg {
        height: 30px;
        width: 30px;
    }
}

.icon {
    @apply mr-2 min-w-[24px] min-h-[24px];
}

.navDefault {
    @apply w-[48px];
    box-shadow: 2px 3px 6px 1px #181818;
    transition: all .3s ease;
}

.navOpen {
    @apply w-[6.2em];
    box-shadow: inset 2px 3px 6px 1px #181818;
    transition: all .3s ease;

}