//  -1px -1px 2px 0px #fff,

.button {
    transition: all .3s;
    box-shadow: 0px 2px 3px 1px #101010;
    @apply bg-[#151515] overflow-hidden outline-none py-2 px-5 rounded-lg min-w-max;
    @media (prefers-color-scheme: light) {
        @apply bg-[#6F4C3E];
        border: 1px solid;
    }
    &:active {
        box-shadow:  inset 0px 2px 5px 3px #101010;
    }
    
}
.buttonOutline {
    @apply overflow-hidden outline-none py-2 px-5 rounded-md min-w-max;
    border: solid 1px;
}