@tailwind base;
@tailwind components;
@tailwind utilities;
/* // bg #181818 */
$background-dark: #000000;
$background-light: #fff;
$color-dark: #fff;
$color-light: #000;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  outline: none;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $background-dark;
  color: $color-dark;
  font-size: 1em;
  overflow-x: hidden;

  @media (prefers-color-scheme: light) {
    background: $background-light;
    color: $color-light;
  }

}
main{
width: 100%;

}
.wrapper {
 overflow: hidden;
  display: flex;
  width: 100%;
  max-height: 100vh;
padding: 20px;


}
img {
  all:revert;
}
*::-webkit-scrollbar {
  display: none;
}