@tailwind base;
@tailwind components;
@tailwind utilities;
/* // bg #181818 */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1f1f1f;
  color: #fff;
  font-size: 1em;
  overflow-x: hidden;
  outline: none;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  @media (max-width: 1900px) {
    max-width: 720px;
  }
}

*::-webkit-scrollbar{
  display: none;
}