// body{
//     overflow: hidden;
// }
.main{
    @apply h-screen flex justify-center items-center flex-col;
    section{
        h1{
            text-shadow:  4px 3px 3px black;
            font-size: 25px;
            margin-bottom: 20px;
         }
        @apply p-6 rounded-lg w-[30rem];
        @media (max-width: 700px) {
            width: 100vw;
            padding: 5px;
        }
        button{
         @apply w-full;   
        }
    }
}
.logo{
    z-index: 10;
    position: absolute;
    left: 50px;
    top: 200px;
    
}
.disable{
    display: none;
}