.inputFile {
    transition: color .3s ease;
    @apply px-5  flex justify-center ;
    &.img{
        @media (max-width: 1000px) {
            @apply  flex-wrap m-0 px-0;
        }
    }
    .image {
        @apply max-w-[300px] max-h-[300px] bg-no-repeat object-cover rounded-lg mr-4;

        @media (max-width: 1000px) {
           margin-right: 20;
           margin-bottom: 20px;
        }
        @media (max-width: 500px) {
            margin-right: 0;
        }      
    }
    &:hover{
        color: #fce3c2;
    }
    input {
        display: none;
    }
    label{
        width: 200px;
        height: auto;
    }
    >svg{
        @apply w-24 h-24;
    }
}