.main{
    @apply flex w-screen h-full pr-5 py-5 overflow-x-hidden;
    @media (max-width: 1800px) {
        @apply flex-wrap;
    }
overflow-y: auto;
    &>*:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}